@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;

}
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-thumb {
  background-color: hsla(0,0%,100%,.3);
}
body{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  overflow: hidden;
}
#root{
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.player{
  position: absolute;
  top: 92vh;
  min-width: 100%;
  left: 0;
}
