*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  overflow: hidden;
}
#root{
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.player{
  position: absolute;
  top: 92vh;
  min-width: 100%;
  left: 0;
}
