.App{
    background-color: #121212;
    background-attachment: local;
    background-size: 100vh;
    width: 100%;
    height: 100vh;
    color: #fff;
    overflow-y: scroll;

}

/* header, album, added, time, authors: #a7a7a7; */

.track{
    display: flex;
    flex-direction: row;
    padding: 12px 10px;
    border-radius: 5px;

}

.musics{
    background-color: rgba(18, 18, 18, 0.3);
    position: relative;
    padding: 0 32px;
}

.clock{
    width: 50px;
}
.musics_header{
    height: 35px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    color: #a7a7a7;
    border-bottom: 1px solid hsla(0,0%,100%,.1);
    margin-bottom: 16px;
    font-size: 0.875rem;
}


.track:hover{
    background-color: hsla(0,0%,100%,.1);
}
.header_title{
    width: 40%;
}

.header_album{
    width: 25%;
}

.header_added{
    width: 25%;
}

.header_added, .header_album, .header_time{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.music_infos{
    display: flex;
    gap: 10px;
}

.music_infos .img{
    width: 40px;
    height: 40px;
}

.music_infos .img img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.music_title_artits{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header_button{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_button button{
    color: #a7a7a7;
    border: none;
    background-color: transparent;
    font-size: 1rem;
}
.header_button button:hover{
    cursor: pointer;
}
.music_name{
    color: #Fff;
    font-size: 1rem;
    text-decoration: none;
}
.music_name:hover{
    text-decoration: underline;
}

.artist_name{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.album_name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 5px;
}

.artist_name a, .album_name a{
    color: #a7a7a7;
    text-decoration: none;
}

.artist_name a:hover , .album_name a:hover{
    text-decoration: underline;
    
}
.album_name, .artist_name, .header_added, .header_time{
    color: #a7a7a7;
    font-family: 0.875rem;
}

.header_time{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 10px;
}

.paused{
    color: green;
}

.play_btn{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 24px 0;
    gap: 10px;
}

.play_btn .header_button{
    background-color: #1ed760;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
}

.play_btn .header_button:hover{
    transform: scale(1.05);
}
.play_btn .header_button:focus{
    transform: scale(1);
}



.play_button .header_button svg{
    padding-left: 3px;
}

.footer{
    margin-top: 32px;
    height: 200px;
    border-top: 1px solid hsla(0,0%,100%,.1);
}


.loading{
    width: 100%;
    height: 40px;
    text-align: center;
}

.loading img{
    max-height: 100%;
}